@model FinancesDomain.Models.Transaction

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoneySpent" class="control-label"></label>
                <input asp-for="MoneySpent" class="form-control" />
                <span asp-validation-for="MoneySpent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BudgetOverflown" class="control-label"></label>
                <input asp-for="BudgetOverflown" class="form-control" />
                <span asp-validation-for="BudgetOverflown" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MessageId" class="control-label"></label>
                <select asp-for="MessageId" class="form-control" asp-items="ViewBag.MessageId"></select>
                <span asp-validation-for="MessageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompletedAchievementId" class="control-label"></label>
                <select asp-for="CompletedAchievementId" class="form-control" asp-items="ViewBag.CompletedAchievementId"></select>
                <span asp-validation-for="CompletedAchievementId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpenditureCategoryId" class="control-label"></label>
                <select asp-for="ExpenditureCategoryId" class="form-control" asp-items="ViewBag.ExpenditureCategoryId"></select>
                <span asp-validation-for="ExpenditureCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpenditureNote" class="control-label"></label>
                <input asp-for="ExpenditureNote" class="form-control" />
                <span asp-validation-for="ExpenditureNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
